<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SequentialRegisterLoginSuite" parallel="false">
    <listeners>
        <listener class-name="org.testng.reporters.XMLReporter"/>
        <listener class-name="org.testng.reporters.JUnitXMLReporter"/>
        <listener class-name="org.testng.reporters.SuiteHTMLReporter"/>
        <listener class-name="org.testng.reporters.TestHTMLReporter"/>
    </listeners>
    <test name="IsTestngXmlWorking">
        <classes>
            <class name="test.TestngVerification"/>
        </classes>
    </test>
    <!-- Step 1: calc on Chrome -->
    <test name="Chrome - test_calc">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="test.test_calc"/>
        </classes>
    </test>

    <!-- Step 2: Login on Chrome -->


    <!-- Step 3: calc on Firefox -->
    <test name="Firefox -test-calc">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="test.test_calc"/>
        </classes>
    </test>

</suite>
